.App {
  text-align: center;
  /* height: 100vh; */
}

.page {
  display: flex;
  flex-direction: column;
}

main {
    padding: 6em 0 6em;
    z-index: -1;
    max-width: 900px;
    margin-inline: auto;
}



@import url(./assets/styles/header.css);
@import url(./assets/styles/entries.css);
@import url(./assets/styles/stats.css);
@import url(./assets/styles/nav.css);
