body {
  background-color: white ;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.page {
  /* border: solid thick black; */
  width: 100%;
  height: 100%;
}

.main {
  padding: 4em 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
}

@import url(./assets/styles/header.css);
@import url(./assets/styles/entries.css);
@import url(./assets/styles/stats.css);
@import url(./assets/styles/nav.css);
@import url(./assets/styles/entry-form.css);
@import url(./assets/styles/stats.css);
@import url(./assets/styles/notifications.css);
