.entry-card {
  border: solid blue;
  margin: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 400px;
}

.entries-list .entry-card {
  min-width: 400px;
}

.datetime-stamp {
  border: solid green;
  margin: 0;
  text-align: right;
  font-size: small;
  padding-inline: 1em;
  background-color: #03045e;
  z-index: -1;
  color: white;
  font-weight: bold;
}

.entry-info {
  display: flex;
  border: solid red;
  justify-content: space-around;
  background-color: #caf0f8;
}

.emoji-card {
  border: solid yellow;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  max-width: 50%;
}

.mood-card {
  font-size: 6em;
  border: solid black;
  margin: 0;
}

.activities-card {
  font-size: 2em;
  margin: 0;
  border: solid purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-emoji {
  margin: 0;
}

.note-media-card {
  border: solid yellow;
  max-width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.note-card {
  border: solid blue;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  height: fit-content;
  color: #7f5539;
  font-weight: bold;
}

.entry-media-card {
  border: solid red;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 40%;
  justify-content: space-around;
}

.audio-player {
  border: solid fuchsia;
  max-width: 100%;
  padding-inline: 0.25em;
  display: flex;
  align-items: center;
  z-index: 0;
}
