header {
    display: flex;
    border-bottom: solid #03045e;
    align-items: center;
    justify-content: space-around;
    padding: 0.25em;
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    z-index: 1;
    background-color: white;
}

.header-title {
    margin: 0.5em 2em;
}

.header-icon {
    height: 2em;
}