.stats-list {
  /* border: solid rgb(122, 117, 117); */
  align-items: center;
  height: 600px;
}

.chart {
  /* border: solid green; */
  margin-block: 2em;
  width: fit-content;
  height: fit-content;
  margin: 1em 2em
}

